<div class="container">
  <form class="example-form" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field" *ngIf="register.id !== 0">
      <mat-label>Id de la prueba</mat-label>
      <input disabled matInput [value]="register.id" type="text">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Fecha de la Prueba</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateAppointment">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-error *ngIf="appointmentForm.get('dateAppointment')?.errors">
        El campo de la fecha es <strong>requerido</strong>
      </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Hora de la Prueba</mat-label>
      <input matInput type="time" formControlName="hourAppointment">
      <mat-hint>Ingresa una hora</mat-hint>
      <mat-error *ngIf="appointmentForm.get('hourAppointment')?.errors">
        El campo de la hora es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Id Afiliado</mat-label>
      <mat-select formControlName="idAffiliate">
        <mat-option value="">Seleccione un Id</mat-option>
        <mat-option *ngFor="let id of affiliatesIdList" value="{{id}}">{{id}}</mat-option>
      </mat-select>
      <mat-hint>Seleciona un Id</mat-hint>
      <mat-error *ngIf="appointmentForm.get('idAffiliate')?.errors">
        El id debe ser <strong>valido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Id Prueba</mat-label>
      <mat-select formControlName="idTest">
        <mat-option value="">Seleccione un Id</mat-option>
        <mat-option *ngFor="let id of testIdList" value="{{id}}">{{id}}</mat-option>
      </mat-select>
      <mat-hint>Seleciona un Id</mat-hint>
      <mat-error *ngIf="appointmentForm.get('idTest')?.errors">
        El id debe ser <strong>valido</strong>
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button type="submit" [disabled]="appointmentForm.invalid" mat-raised-button color="primary">Guardar</button>
      <a mat-raised-button color="warn" routerLink="/appointments">Cancelar</a>
    </div>
  </form>
</div>