<div class="container">
  <form class="example-form">

    <mat-form-field class="form-field">
      <mat-label>Fecha de la Prueba</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="pick">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Hora de la Prueba</mat-label>
      <input matInput type="time" [formControl]="hour">
      <mat-hint>Ingresa una hora</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Id Afiliado</mat-label>
      <mat-select>
        <mat-option value="">Seleccione un Id</mat-option>
        <mat-option *ngFor="let id of affiliatesIdList" value="{{id}}">{{id}}</mat-option>
      </mat-select>
      <mat-hint>Seleciona un Id</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Id Prueba</mat-label>
      <mat-select>
        <mat-option value="">Seleccione un Id</mat-option>
        <mat-option *ngFor="let id of testIdList" value="{{id}}">{{id}}</mat-option>
      </mat-select>
      <mat-hint>Seleciona un Id</mat-hint>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </form>

  <pre>
    date: {{showTime() }}
    <br>
    hour: {{showHour()}}
  </pre>
</div>