<mat-toolbar color="primary">
  <a class="navbar-brand" routerLink="home">
    Agenda de Citas - Reto Semillero
  </a>
  <span class="example-spacer"></span>
  <div class="rigth-opts">
    <a mat-fab extended color="primary" routerLink="appointments">
      <mat-icon>event</mat-icon>
      Citas
    </a>
    <a mat-fab extended color="primary" routerLink="tests">
      <mat-icon>medical_services</mat-icon>
      Pruebas
    </a>
    <a mat-fab extended color="primary" routerLink="affiliates">
      <mat-icon>person</mat-icon>
      Afiliados
    </a>
  </div>
</mat-toolbar>
