.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar.sticky {
  background-color: rgba(0, 0, 0, 0.589);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: #a7a7a7 0px 0px 5px;
}

a {
  margin-left: 10px;
}

.rigth-opts a:hover {
  background: rgb(160, 18, 84);
}