<div class="container">
	<div class="row">
		<div class="col-12">
			<mat-card>
				<mat-card-content>
					<div class="p-2 table-responsive">

						<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
							<ng-container matColumnDef="expand">
								<th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
								<td mat-cell *matCellDef="let element">
									<button mat-icon-button aria-label="expand row"
										(click)="onAffClick(element.id)"
										(click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
										<mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
										<mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
									</button>
								</td>
							</ng-container>

							<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
								<th mat-header-cell *matHeaderCellDef> {{columnHeaders[column]}} </th>
								<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
							</ng-container>

							<ng-container matColumnDef="expandedDetail">
								<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
									<div class="container"
										[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
										<app-nested-list *ngIf="element.nestedData.length > 0" [nestedData]="element.nestedData"></app-nested-list>
									</div>
								</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
							<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
								[class.example-expanded-row]="expandedElement === element"
								(click)="expandedElement = expandedElement === element ? null : element"
								(click)="onAffClick(element.id)">
							</tr>
							<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
						</table>

					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>