<div class="container">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field" *ngIf="register.id !== 0">
      <mat-label>Id de la prueba</mat-label>
      <input disabled matInput [value]="register.id" type="text">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Nombre de la Prueba</mat-label>
      <input matInput type="text" formControlName="name" required>
      <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['required']">
        El nombre de la prueba es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Descripción de la prueba</mat-label>
      <input matInput type="text" formControlName="description" required>
      <mat-error *ngIf="form.get('description')?.touched && form.get('description')?.errors?.['required']">
        La descripción de la prueba es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Guardar</button>
      <a mat-raised-button color="warn" routerLink="/tests">Cancelar</a>
    </div>
  </form>
</div>