<div class="container">
  <form class="example-form">

    <mat-form-field class="form-field">
      <mat-label>Nombre de la Prueba</mat-label>
      <input matInput type="text">
      <mat-hint>Ingresa prueba</mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Descripción de la prueba</mat-label>
      <input matInput type="text">
      <mat-hint>Ingresa la Descripción</mat-hint>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary">Guardar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </form>
</div>