<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-content>
                    <div class="p-2 table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                   <th *ngFor="let field of itemsAttr">{{ field }}</th>
                                   <th>Acciones</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items.listingItems">
                                    <td *ngFor="let attribute of getAttributeValues(item)">{{ attribute }}</td>
                                    <td class="listing-actions">
                                        <button mat-icon-button >
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>